<div class="demo-tab">
  {{#split-view isVertical=true class="splitViewVertical" as |split|}}
    {{split.child class="border"}}
    {{split.sash}}
    {{#split.child class="composite"}}
      {{#split-view isVertical=true as |split2|}}
        {{split2.child class="border"}}
        {{split2.sash}}
        {{split2.child class="border"}}
      {{/split-view}}
    {{/split.child}}
  {{/split-view}}
</div>
